h1, .h1 {
    font-weight: 500;
    margin: 0;
    margin-bottom: 1.25rem;
    font-size: 1.875rem;
    line-height: 2.5rem;
}
h2, .h2 {
    font-weight: 400;
    margin: 0;
    margin-bottom: 1.5625rem;
    font-size: 2.25rem;
    line-height: 3.375rem;
    -webkit-text-stroke: 1px #000;
}

h3, .h3 {
    font-weight: 500;
    margin: 0;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

h4, .h4 {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 1.125rem;
    margin-top: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
}

p, .p {
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    font-size: 1.125rem;
    line-height: 2rem;
}

ol,ul {
    li {
        line-height: 1.5rem;
        margin-bottom: 1.125rem;
    }
}

@media screen and (min-width: 1024px) {
    h1, .h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }
    h2, .h2 {
        font-size: 3rem;
        line-height: 3.375rem;
    } 
    p, .p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    
}
