/**
The css in this file is only for backend editor.
This will be used to match the fonts, sizes etc in backend editor with the frontend
*/

.animated-card-container .wp-block-column .animated-card:hover .wp-block-cover__inner-container h3,
.animated-card-container .wp-block-column .animated-card.open .wp-block-cover__inner-container h3 {
  display: block !important;
}

#paypal {
  display: block !important;
}

.text-cover .wp-block-cover__inner-container p {
  visibility: visible !important;
opacity: 1 !important;
}

.animated-card-container {
  .wp-block-column {
    .animated-card {
      .wp-block-cover__inner-container {
        h3, p, div {
          visibility: visible !important;
          height: auto !important;
        }
      }
    }
  }
}