.fade-in {
    animation: fade-in 1.5s ease-in-out 0s 1 normal forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes pulse-down {
    0%, 33.333% { /* 33.333% of 3s is 1s */
        bottom: 0;
    }
    8.333%, 25% { /* Animation movement within the first 1s */
        bottom: .25rem;
    }
    16.666% { /* Halfway point of the 1s movement */
        bottom: .5rem;
    }
    100% {
        bottom: 0; /* Remain at the original position for the rest of the time */
    }
}


@keyframes pulse-up {
    0%, 33.333% { /* 33.333% of 3s is 1s */
        bottom: -1rem; 
    }
    8.333%, 25% { /* Animation movement within the first 1s */
        bottom: -0.75rem; 
    }
    16.666% { /* Halfway point of the 1s movement */
        bottom: -0.5rem;  
    }
    100% {
        bottom: -1rem;
    }
}