.wp-block-buttons {
    .wp-block-button:hover {
        .wp-block-button__link {
            &.has-purple-color.has-white-background-color{
                background-color: var(--wp--preset--color--green) !important;
                color: var(--wp--preset--color--white) !important;
            }
            &.has-white-color.has-purple-background-color{
                background-color: var(--wp--preset--color--green) !important;
                color: var(--wp--preset--color--white) !important;
            }
            &.has-green-color.has-white-background-color {
                background-color: var(--wp--preset--color--purple) !important;
                color: var(--wp--preset--color--white) !important;
            }
        }
    }
}