.img-text {
    margin-top: 3.875rem;
    margin-bottom: 3.875rem;

    .image {
        img {
            height: 18.75rem;
            width: 100%;
            object-fit: cover;
            border-radius: 0.3125rem;
        }
    }

    .text {
        .wp-block-group.is-nowrap {
            display: inline;
            flex-wrap: wrap;

            p {
                display: inline;
                line-height: 2.25rem;
                width: 18.75rem;
                font-size: 1.625rem !important;
            }
        }
    }
}

.animated-card-container {
    row-gap: 2.5rem;
    margin-bottom: 5rem;
    .wp-block-column {
        .animated-card {
            border-radius: 0.3125rem;
            padding-left: 1.6875rem;
            position: relative;
            &.purple {
                &::after {
                    background-color: var(--wp--preset--color--purple);
                }
            }
            &.green {
                &::after {
                    background-color: var(--wp--preset--color--green);
                }
            }
            &::after {
                position: absolute;
                font: var(--fa-font-solid);
                font-size: 2.25rem;
                color: #fff;                
                content: "\f054";
                min-height: unset;
                border-radius: 100% 100% 0 100%;
                bottom: -2rem;
                right: -2rem;
                width: 6.875rem;
                height: 6.875rem;
                box-sizing: border-box;
                padding-right: 1rem;
                padding-bottom: 1rem;
                justify-content: center;
                align-items: center;
                display: flex;
                transition: all .5s ease-in-out;
                z-index: 50;
            }
    
            h3 {
                margin-top: 2.75rem;
                width: 12rem;
                margin-left: 0 !important;
                em {
                    vertical-align: super;
                    font-style: normal;
                    line-height: 0;
                    font-size: 1.125rem;
                }
            }
    
            p {
                visibility: hidden;
                height: 0;
                em {
                    vertical-align: super;
                    font-style: normal;
                    line-height: 0;
                    font-size: 0.84375rem;
                }
            }
    
            .wp-block-buttons {
                visibility: hidden;
            }

            &:not(:hover), &:not(.open) {
                .wp-block-cover__inner-container {
                    .wp-block-buttons {
                        .wp-block-button {
                            .wp-block-button__link {
                                pointer-events: none;
                            }
                        }
                    }
                }
            }
    
            &:hover,
            &.open {
                &::after {
                    content: "";
                    width: 400%;
                    height: 400%;
                    border-radius: unset;
                    opacity: 0.75;
                }
    
                .wp-block-cover__inner-container {
                    z-index: 60;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    padding: 1.5rem;
                    box-sizing: border-box;
    
                    h3 {
                        display: none;
                    }
    
                    p,
                    .wp-block-buttons {
                        visibility: visible;
                        height: auto;
                    }
    
                    p {
                        width: 15.5rem;
                        max-width: 100%;
                        margin-left: 0 !important;
                        margin-top: 0;
                    }
                }
    
            }
        }

    }


}

@media screen and (min-width: 768px) {
    .img-text {
        flex-wrap: nowrap !important;
        column-gap: 2.5rem;
        margin-top: 4.5rem;
        margin-bottom: 5rem;

        .text {
            max-width: 16.625rem;
            display: flex;
            align-items: center;
        }

        .image {
            img {
                height: auto;
            }

        }
    }

    .animated-card-container {
        flex-wrap: nowrap !important;
        column-gap: 2.5rem;

        .wp-block-column {
            &:nth-child(even) {
                margin-top: 3.125rem;
            }
        }

    }
}

@media screen and (min-width: 1024px) {
    .img-text {
        justify-content: center;
        .image {
            max-width: 23.75rem;
        }
        .text {
            max-width: 51.25rem;
            .wp-block-group.is-nowrap {
                p {
                    font-size: 2.25rem !important;
                    line-height: 3.375rem;
                }
            }
        }

    }

    .animated-card-container {
        margin-top: 5rem;
        .wp-block-column {
            .animated-card {
                h3 {
                    font-size: 1.9rem !important;
                    line-height: 2.75rem;
                    width: 29rem;
                    max-width: 100%;
                }
                &:hover, &.open {
                    .wp-block-cover__inner-container {
                        p {
                            width: unset;
                            max-width: 100%;
                            font-size: 1.4rem !important;
                            line-height: 2.5rem;
                            em {
                                font-size: 1.05rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .animated-card-container {
        .wp-block-column {
            .animated-card {
                min-height: 26.875rem;
                h3 {
                    font-size: 2.25rem !important;
                    line-height: 2.75rem;
                    max-width: 26.5rem;
                    &.reduced {
                        max-width: 24rem;
                    }
                    em {
                        font-size: 1.6875rem;
                    }
                }
                &:hover, &.open {
                    .wp-block-cover__inner-container {
                        p {

                            font-size: 1.5rem !important;
                            line-height: 2.5rem;
                            em {
                                font-size: 1.125rem;
                            }
                        }
                    }
                }

            }
        }
    }
}