.home-cover {
    display: flex;
    min-height: calc(var(--vh, 1vh) * 100) !important;
    max-height: calc(var(--vh, 1vh) * 100) !important;
    height: calc(var(--vh, 1vh) * 100) !important;
    background-color: #000;
    .wp-block-cover__inner-container {

        h1.wp-block-heading {
            text-shadow: 0px 0px 12px #00000080;
            word-spacing: 100vw;
            position: absolute;
            bottom: 2rem;
            margin: 0;
            line-height: 4.5rem;
        }
        p.has-londrina-font-family {
            position: absolute;
            margin: 0;
            bottom: 3.125rem;
            right: 1.25rem;
            width: 7.375rem;
            text-align: center;
            font-size: 1.3125rem !important;
            line-height: 2.75rem !important;
            text-decoration: underline;
            &:hover {
                color: var(--wp--preset--color--green);
            }
        }
    }
}

.text-cover {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    // min-height: 100vh;
    .wp-block-cover__inner-container {
        p {
            line-height: 3.25rem;
            width: 18.75rem;
            margin: 0;
            // visibility: hidden;
            opacity: 0;
            &.fade-in {
                visibility: visible;
            }
        }
    }
}

.supporters-cover {
    .wp-block-heading {
        -webkit-text-stroke: 1px #fff;
    }
    p {
        line-height: 2.25rem;
        width: 18.75rem;
        strong {
            font-style: normal;
            color: var(--wp--preset--color--green);
        }
    }
}

@media screen and (min-width: 768px) {
    .home-cover {
        .wp-block-cover__inner-container {
            h1.wp-block-heading {
                font-size: 5.25rem !important;
                line-height: 6rem;
            }
            p.has-londrina-font-family {
                font-size: 2.25rem !important;
                line-height: 2.75rem !important;
                width: 12.25rem;
                right: 2.875rem;
            }
        }
    }

    .text-cover {
        padding-top: 4.5rem;
        padding-bottom: 3.625rem;
        .wp-block-cover__inner-container {
            p {
                width: 30.3125rem;
                font-size: 2.25rem !important;
                line-height: 3.625rem;
                margin-left: 0 !important;
           
            }
        }
    }

    .supporters-cover {
        .wp-block-heading {
            font-size: 2.25rem !important;
            line-height: 3.375rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .home-cover {
        .wp-block-cover__inner-container {
            h1.wp-block-heading {
                font-size: 6rem !important;
                line-height: 7.5rem;
            }
            p.has-londrina-font-family {
                line-height: 2.75rem;
                width: 12.25rem;
                right: 3.375rem;
                bottom: 5.125rem;
            }
        }
    }

    .text-cover {
        padding-top: 4.5rem;
        padding-bottom: 3.625rem;
        .wp-block-cover__inner-container {
            p {
                width: 100%;
                font-size: 3rem !important;
                line-height: 4.5rem;
                margin-left: 0 !important;
            }
        }
    }

    .supporters-cover {
        padding-top: 2rem;
        padding-bottom: 2rem;
        .wp-block-cover__background {
            opacity: 0.25 !important;
        }
        .wp-block-heading {
            font-size: 3rem !important;
            line-height: 3.375rem;
        }
        p {
            font-size: 2.25rem !important;
            line-height: 3.375rem;
            width: 36rem !important;
        }
        .wp-block-buttons {
            .wp-block-button {
                .wp-block-button__link {
                    font-size: 1.875rem;
                    line-height: 2.25rem;
                }
            }
        }
    }
}

@media screen and (min-width: 2000px) {
    .supporters-cover {
        padding-bottom: 6rem;
    }
}