.down-circle {
    display: none !important;
    position: fixed;
    width: 7.1875rem;
    bottom: 0;
    right: 0;
    justify-content: center;
    display: flex;
    z-index: 99;
    transition: all .2s ease-in-out;


    &.slow-animation {
        transition-duration: 0.5s;
    }

    &.draw-up {
        bottom: 1rem;
    }

    &.attention-grab-down {
        animation: 1.5s linear 0.5s infinite alternate pulse-down;
    }

    &.attention-grab-up {
        animation: 1.5s linear 0.5s infinite alternate pulse-up;
    }

    &.flip {
        transition-duration: 0s;
        transform: rotate(180deg);
        position: absolute;
        bottom: -1rem;
        left: calc(50% - calc(7.185rem / 2));
    }

    .wp-block-lg-blocks-font-awesome {
        position: relative;

        &::before {
            content: "";
            background-color: #fff;
            width: 3.4375rem;
            height: 3.4375rem;
            display: flex;
            position: absolute;
            border-radius: 100%;
            top: -1rem;
            left: -0.8125rem;
            box-shadow: 0px 0px 6px #00000080;
        }


    }

}


@media screen and (min-width: 1024px) {
    .down-circle {
        display: none !important;
        width: 12.25rem;
        bottom: 1rem;
        &.draw-up {
            bottom: 3rem;
        }

        &.flip {
            left: calc(50% - calc(12.25rem / 2));
            .wp-block-lg-blocks-font-awesome {
                &::before {
                    top: -1.75rem;
                }
            }
        }

        .wp-block-lg-blocks-font-awesome {
            &::before {
                width: 6.375rem;
                height: 6.375rem;
                top: -1.25rem;
                left: calc(50% - calc(6.375rem / 2));
            }
            i {
                font-size: 3.5625rem !important;
            }
        }
    }
}