.site-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    >* {
        flex-basis: 100%;
    }

    .wp-block-site-logo {
        margin-top: 4.75rem;
        margin-bottom: 1.5rem;
        justify-content: center;
        display: flex;
    }

    .wp-block-group {
        justify-content: center;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        &.is-nowrap {
            margin-top: -1rem;
        }

        &:hover {
            a {
                color: var(--wp--preset--color--green) !important;

                i {
                    color: var(--wp--preset--color--green) !important;
                }
            }
        }
    }


    p {
        margin-top: 0;
        line-height: 1.5rem;
        max-width: 18.125rem;
        margin-bottom: 0;
        justify-content: center;
        display: flex;

        a {
            font-size: 1rem;
            color: var(--wp--preset--color--purple);
            text-decoration: underline;
            font-weight: 700;

            &:hover {
                color: var(--wp--preset--color--green);
            }
        }
    }
    p.blurb {
        margin-left: auto;
        margin-right: auto;
    }

    p + p {
        margin-top: .6875rem;
    }

    .lg-social-media-cont {
        display: flex;
        justify-content: center;

        .lg-social-media {
            width: 11rem;
            display: flex;
            list-style-type: none;
            justify-content: space-between;
            padding-inline-start: 0;
            margin-top: 1.25rem;
            margin-bottom: 2.5rem;

            li {
                font-size: 1.5625rem;
                margin-bottom: 0;

                &:nth-child(odd) {
                    i {
                        color: var(--wp--preset--color--purple);
                    }

                    &:hover {
                        i {
                            color: var(--wp--preset--color--green);
                        }
                    }
                }

                &:nth-child(even) {
                    i {
                        color: var(--wp--preset--color--green);
                    }

                    &:hover {
                        i {
                            color: var(--wp--preset--color--purple);
                        }
                    }

                }
            }

        }
    }

    .copyright {
        display: flex;
        justify-content: center;
        font-family: var(--wp--preset--font-family--roboto) !important;
        line-height: 1.5;
    }

    .footer-longevity {
        margin-bottom: 3rem;
        column-gap: 0.75ch;

        a {
            text-decoration: none;
            font-weight: 400;
        }
    }
}

@media screen and (min-width: 768px) {
    .site-footer {
        .wp-block-group.is-vertical {
            flex-wrap: nowrap;
            margin: 0;
            p.blurb {
                max-width: 31.25rem;
                flex-basis: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .wp-block-group {
            &.is-nowrap {
                margin-top: 1.5rem;
            }
        }
    }
}