body {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.wp-site-blocks {
    .entry-content {
        position: relative;
        --full-width-padding: 2.25rem;
        padding-left: var(--full-width-padding);
        padding-right: var(--full-width-padding);

        .full-width {
            margin-left: calc(var(--full-width-padding) * -1) !important;
            margin-right: calc(var(--full-width-padding) * -1) !important;
            padding-left: var(--full-width-padding);
            padding-right: var(--full-width-padding);
            
            
        }
        
        ul {
            li {
                a {
                    color: var(--wp--preset--color--primary);
                    &:hover {
                        color: var(--wp--preset--color--secondary);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .wp-site-blocks {
        .entry-content {
            --full-width-padding: 5rem;

            .wp-block-heading + p {
                max-width: 26.25rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .wp-site-blocks {
        .entry-content {
            --full-width-padding: 5.625rem;

            .wp-block-heading + p {
                max-width: 53.8125rem;
            }
        }   
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: calc(16px * (100vw / 1920px));
    }
    .wp-site-blocks {
        .entry-content {
            --full-width-padding: 10rem;
            .wp-block-heading + p {
                max-width: 65.8125rem;
            }
        }   
    }
}

@media screen and (min-width: 2560px) {
    img {
        min-width: 100%;
    }
}