.autism-online {
    margin-top: 2.125rem;
    > .wp-block-image {
        margin-bottom: 4.25rem;
    }
    .two-column {
        .wp-block-column {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
        }
        &:last-child {
            margin-bottom: 0;
        }
        margin-bottom: 4.625rem;
        p {
            text-align: center;
            font-size: 1.4375rem;
            line-height: 2.25rem;
            max-width: 18.9375rem;
            &:first-child {
                margin-top: 0;
            }
        }
        .wp-block-buttons {
            .wp-block-button {
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                .wp-block-button__link {
                    em {
                        max-width: 16.5rem;
                        font-style: normal;
                        display: block;
                    }
                }
            }
        }
    }
    .wp-block-video {
        margin-bottom: 4.25rem;
    }
    .wp-block-heading.has-roboto-condensed-font-family {
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 700;
        em {
            vertical-align: super;
            font-style: normal;
            font-size: 1.25rem;
        }
    }
    .four-column {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1.6875rem;
        margin-bottom: 4.25rem;
        .wp-block-column {
            flex-basis: 100%;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            .wp-block-image {
                margin-bottom: 0;
                flex-basis: 100%;
                justify-content: center;
                display: flex;
            }
            p {
                margin-top: 1.125rem;
                font-size: 1rem;
                line-height: 1.3125rem;
                margin-bottom: 0;
                a {
                    color: var(--wp--preset--color--purple);
                    font-weight: 700;
                    text-decoration: underline;
                    &:hover {
                        color: var(--wp--preset--color--green);
                    }
                }
            }
        }
        
    }

}

@media screen and (min-width:768px) {
    .autism-online {
        .two-column {
            column-gap: 2.4375rem;
            p {
                max-width: 17.75rem;
                text-align: left;
                font-size: 1.625rem;
                line-height: 2.5rem;
            }
            .wp-block-buttons {
                max-width: 17.75rem;
            }
        }
        .wp-block-heading.has-roboto-condensed-font-family {
            font-size: 2.25rem;
            line-height: 3rem;
        }
        .four-column {
            display: flex;
            flex-wrap: wrap !important; 
            .wp-block-column {
                flex-basis: calc(50% - 1rem);
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .autism-online {
        .two-column {
            p {
                max-width: 26.1875rem;
            }
            .wp-block-buttons {
                max-width: 26.1875rem;
                .wp-block-button {
                    .wp-block-button__link {
                        max-width: unset;
                        font-size: 1.25rem;
                        em {
                            max-width: unset;
                        }
                    }
                }
            }
        }
        .four-column {
            .wp-block-column {
                flex-basis: calc(25% - 0.5rem);
                .wp-block-image {
                    min-height: 200px;
                    max-height: 200px;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .autism-online {
        .wp-block-heading.has-roboto-condensed-font-family {
            font-size: 3rem;
            line-height: 4.5rem;
            margin-bottom: 3.125rem;
        }
        .two-column {
            column-gap: 5.125rem;
            p {
                max-width: 36.8125rem;
                line-height: 3.375rem;
                font-size: 2.25rem;
                margin-right: auto;
            }
            .wp-block-buttons {
                max-width: 36.8125rem;
                margin-right: auto;
                .wp-block-button {
                    .wp-block-button__link {
                        font-size: 1.3125rem;
                    }
                }
            }
        }
    }
}