.post-password-form {
    &::before {
        background-image: url("../images/logo.jpeg");
        background-position: center center;
        background-size: contain;
        width: 7.1875rem;
        height: 6.25rem;
        content: "";
        display: block;
        margin-bottom: 8.625rem;
        margin-top: 3.375rem;
    }
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    > * {
        flex-basis: 100%;
        text-align: center;
    }
    p, label {
        font-size: 1.4375rem;
        line-height: 2.25rem;
        margin-bottom: 2.125rem;
    }
    input {
        border-radius: 0.3125rem;
        font-size: 1.4375rem;
        line-height: 2.25rem;
        max-width: 13.125rem;
    }
    button {
        width: 9.625rem;
        border-radius: 0.3125rem;
        text-transform: uppercase;
        font-size: 1.3125rem;
        line-height: 2.25rem;
        letter-spacing: 0.065625rem;
        font-weight: 700;
        padding-top: 0.5rem;
        padding-bottom: 0.4375rem;
        margin-bottom: 6rem;
        &:hover {
            background-color: var(--wp--preset--color--green);
        }
    }
}

@media screen and (min-width:768px) {
    .post-password-form {
        flex-direction: column;
        align-items: center;
        p {
            max-width: 30rem;
        }
    }
}

@media screen and (min-width:1024px) {
    .post-password-form {
        flex-direction: column;
        align-items: center;
        p {
            max-width: unset;
        }
    }
}